# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
data={} #empty dictionary
type(data)

dict

In [2]:
data1=dict()
type(data1)

dict

In [3]:
data={'Alabama': 'Montgomery',
     'Arizona': 'Pheonix',
     'Georgia': 'Atlanta',
     'Kentucky': 'Frankfort',
     'Ohio': 'Salem'} # key : value
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [15]:
data={'Alabama': 'Montgomery',
     'Arizona': 'Pheonix',
     'Georgia': 'Atlanta',
     'Kentucky': 'Frankfort',
     'Ohio': 'Salem'} # key : value

In [14]:
data['Kentucky']

'Frankfort'

In [6]:
data['Alabama']

'Montgomery'

In [7]:
data['Louisiana'] # if you are accessing a key which is not present, it will return a key error

KeyError: 'Louisiana'

### Update elements of a dictionary and add new elements

In [3]:
day = {1: 'Monday',
       2: 'Tuesday',
       4: ['Thursday', 'Friday'],
       5: ('Saturday', 'Sunday')}

In [4]:
# Monday
day[1]

'Monday'

In [5]:
# Friday
day[4][1]  #day[key][index]

'Friday'

In [6]:
# Saturday
day[5][0]

'Saturday'

In [7]:
# update Sunday to Holiday
day[5][1]='Holiday'  # tuple update not possible

TypeError: 'tuple' object does not support item assignment

In [8]:
# update Thursay to Holiday
day[4][0]= 'Holiday'
print(day)

{1: 'Monday', 2: 'Tuesday', 4: ['Holiday', 'Friday'], 5: ('Saturday', 'Sunday')}

In [9]:
# Update Monday to Holiday
day [1]= 'Holiday'
day

{1: 'Holiday',
 2: 'Tuesday',
 4: ['Holiday', 'Friday'],
 5: ('Saturday', 'Sunday')}

### `get` and `update` methods

In [16]:
data.get('Arizona') # .get Looks for the key to return the value. Will return nothing if not there

'Pheonix'

In [17]:
data.get('Lousina') # .get does not generate error when key does not exist

In [18]:
# update old value to new value and add new key value pair

In [19]:
print(data)
data.update({'Kentucky': 'Louisville', 'Lousiana': 'Baton Rouge'}) # Change value of Kentucky from Frankfort to Louisville
data  # Also added Lousiana at the end of the dictionary

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Lousiana': 'Baton Rouge'}

In [20]:
data.update({'alabama': 'montogmery'}) # Only way to update key
data

{'Alabama': 'Montgomery',
 'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Lousiana': 'Baton Rouge',
 'alabama': 'montogmery'}

### Delete dictionary items using `del` and `pop`

In [21]:
data
del data['Alabama']

In [22]:
data

{'Arizona': 'Pheonix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Lousiana': 'Baton Rouge',
 'alabama': 'montogmery'}

In [23]:
deleted_statement=data.pop('Arizona')
print("Deleted state is", deleted_statement)
data

Deleted state is Pheonix

{'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Salem',
 'Lousiana': 'Baton Rouge',
 'alabama': 'montogmery'}

In [24]:
# Delete Montgomery
data
deleted_capitol=data.pop('Kentucky')
print(deleted_capitol)
print(data)

Louisville
{'Georgia': 'Atlanta', 'Ohio': 'Salem', 'Lousiana': 'Baton Rouge', 'alabama': 'montogmery'}

In [25]:
data

{'Georgia': 'Atlanta',
 'Ohio': 'Salem',
 'Lousiana': 'Baton Rouge',
 'alabama': 'montogmery'}

In [26]:
del data

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [27]:
data={'Alabama': 'Montgomery',
     'Arizona': 'Pheonix',
     'Georgia': 'Atlanta',
     'Kentucky': 'Frankfort',
     'Ohio': 'Salem'}

In [28]:
# number of element/values in a dictionary
len(data)

5

In [29]:
# Extract keys
print(data.keys())

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [30]:
# Extract values
print(data.values())

dict_values(['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Salem'])

### Loop through a dictionary

In [31]:
data={'Alabama': 'Montgomery',
     'Arizona': 'Pheonix',
     'Georgia': 'Atlanta',
     'Kentucky': 'Frankfort',
     'Ohio': 'Salem'}

In [32]:
# Loop through the dictionary keys
for i in data.keys():
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizona
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>

In [33]:
# Looping through the values
for j in data.values():
    print("The capitol is:",j)

The capitol is: Montgomery
The capitol is: Pheonix
The capitol is: Atlanta
The capitol is: Frankfort
The capitol is: Salem

In [34]:
# Looping through the dictionary item
for k in data.items():
    print(k)
    print(type(k))

('Alabama', 'Montgomery')
<class 'tuple'>
('Arizona', 'Pheonix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Salem')
<class 'tuple'>

In [35]:
# tuple unpacking
for i, j in data.items():
    print('State:', i + ' Capitol:',j)

State: Alabama Capitol: Montgomery
State: Arizona Capitol: Pheonix
State: Georgia Capitol: Atlanta
State: Kentucky Capitol: Frankfort
State: Ohio Capitol: Salem

### Convert dictionary to lists using `list()` function

In [36]:
print(data)

{'Alabama': 'Montgomery', 'Arizona': 'Pheonix', 'Georgia': 'Atlanta', 'Kentucky': 'Frankfort', 'Ohio': 'Salem'}

In [37]:
list(data.values())

['Montgomery', 'Pheonix', 'Atlanta', 'Frankfort', 'Salem']

In [38]:
tuple(data.keys())

('Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio')

### A List in a Dictionary

In [39]:
favoriteLanguage={
    'Jen':['Python','Ruby'],
    'sarah':['C'],
    'edward':['Ruby','Java'],
    'Phil':['Python','Haskell']
}

In [40]:
for name, languages in favoriteLanguage.items():
    print("\n"+name.title()+"\'s favorite languages are: ")
    for i in languages:
        print("\t\t\t"+i.title())

Jen's favorite languages are:
			Python
			Ruby

Sarah's favorite languages are:
			C

Edward's favorite languages are:
			Ruby
			Java

Phil's favorite languages are:
			Python
			Haskell

###  A Dictionary in a Dictionary

In [41]:
user={
    'einstein':{
        'first':'albert',
        'last':'einstein',
        'location':'princeton'
    },
    'madame curie':{
        'first':'marie',
        'last':'curie',
        'location':'paris'
    }
}

In [42]:
user

{'einstein': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'},
 'madame curie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [43]:
for username, userInfo in user.items():
    print("\nUser Name: ",username.title())
    fullName=userInfo['first']+" "+userInfo['last']
    location=userInfo['location']
    print('The full name is: '+fullName.title())
    print('Their location is: ',location.title())

User Name:  Einstein
The full name is: Albert Einstein
Their location is:  Princeton

User Name:  Madame Curie
The full name is: Marie Curie
Their location is:  Paris